.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.625rem 1.125rem;
  border: none;
  border-radius: 50%;
  font-family: 'Times New Roman', Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 122%;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.2px;
  background-image: linear-gradient(to right, #802DF6 0%, #B250FF 100%);
  transition: all .2s ease-out;
  outline: none;
  cursor: pointer;

  &[disabled] {
    background-color: #B6BDC1;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: #B6BDC1;
  }
}
